body{
   margin: 0;
   padding: 0;
   height: 100vh;
}
h2{
   text-align: center;
}
.container{
   display: grid;
}

ul{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   list-style-type: none;
}

li{
   
}